.tag {
    padding: 6px 30px;
    background-color: $melon;
    border-radius: 60px;
    margin: 3px;
    color: white;
    display: inline;
    text-decoration: none;
    &:hover {
        background-color: $pink;
        color: white;
        text-decoration: none !important;
    }
}

.image {
    border-radius: 60px; width: 100%; margin-bottom: 30px;
    background-size: cover; background-repeat: no-repeat;
    &:after {
        content: "";
        display: block;
        padding-bottom: 66%;
        }
}

#navigation {
    background-color: white;
    box-shadow: 0px 4px 60px rgba(190, 203, 217, 0.25);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#logo {
    margin-top: 10px;
}
.sidebar {
    position: fixed;
    left: calc(50vw + (1140px / 12 * 2) + 15px);
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $pale;
    z-index: -999;
}