$sans-serif_book: 'Avenir LT W01_45 Book1475508';
$sans-serif_roman: 'Avenir LT W01_55 Roman1475520';
$sans-serif_medium: 'Avenir LT W01_65 Medium1475532';
$sans-serif_bold: 'Avenir LT W01_85 Heavy1475544';
$script: 'Born Ready Slanted W05 Regular';

body {
    // font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-family: $sans-serif_roman;
    color: $softblack;
}
blockquote {
    font-size: 24px;
    line-height: 30px;
    font-style: normal !important;
    font-family: $sans-serif_medium;
    margin-left: -60px;
}

h1, h2, h3, h4 {
    font-family: $sans-serif_bold;
}

h1 {

}
h2 {
    
}
h3 {
    font-size: 18px;
    padding-top: 12px;
    font-family: $sans-serif_bold;
    line-height: 24px;
}
h4 {
    
}
p {
    color: $text;
}
strong {
    font-family: $sans-serif_bold;
}
.script {
    font-family: $script;
    font-size: 36px;
    line-height: 36px;
    color: $pink;
}