<section>
  <h1 style="margin-bottom: 30px;">{{title}}</h1>
  {{if main_image}}
    <img width="100%" style="margin-bottom: 60px; border-radius: 60px;" src="{{main_image}}" alt="{{title}}">
  {{/if}}

  <div class="row">
    <div class="col-md-8">
      {{ my_replicator_field }}

        {{ if type == "text" }}
      
          <div class="text">
            {{ text|markdown }}
          </div>
      
        {{ elseif type == "quote" }}
      
          <blockquote>{{ text }}</blockquote>
          <p>— {{ cite }}</p>
      
        {{ elseif type == "image" }}
      
          <figure>
            <img style="border-radius: 30px;" width="100%" src="{{ photo }}" alt="{{ caption }}" />
            <figcaption>{{ caption }}</figcaption>
          </figure>
      
        {{ /if }}
      
      {{ /my_replicator_field }}
    </div>
    <div class="col-md-3 offset-md-1">
      {{partial:inspiration}}
    </div>
  </div>
    
</section>