<h1>{{title}}</h1>

<h2>{{description}}</h2>

<section>
    <div class="row">
        {{if head_teacher}}
            <div class="col-sm-4">
                {{relate:head_teacher}}
                    {{if photo}}
                        <img width="100%" src="{{photo}}" alt="{{title}}">
                    {{/if}}
            
                    {{if title}}
                        <h4>
                            {{title}}
                        </h4>
                    {{/if}}
            
                    Head Teacher
            
                    {{if education}}
                        <ul style="list-style-type: none; margin-left: -40px;">
                            {{education}}
                                <li>{{value}}</li>
                            {{/education}}
                        </ul>
                    {{/if}}
            
                    {{if description}}
                        <p>{{description}}</p>
                    {{/if}}
                {{/relate:head_teacher}}
            </div>
        {{/if}}

        {{if teachers}}
            {{relate:teachers}}
                <div class="col-sm-4">
                    {{if photo}}
                        <img width="100%" src="{{photo}}" alt="{{title}}">
                    {{/if}}

                    {{if title}}
                        <h4>
                            {{title}}
                        </h4>
                    {{/if}}

                    {{if role}}
                        {{role}}
                    {{/if}}

                    {{if education}}
                        <ul style="list-style-type: none; margin-left: -40px;">
                            {{education}}
                                <li>{{value}}</li>
                            {{/education}}
                        </ul>
                    {{/if}}

                    {{if description}}
                        <p>{{description}}</p>
                    {{/if}}

                    {{if programs}}
                        <ul>
                            {{relate:programs}}
                                <a href="{{slug}}"><li>{{title}}</li></a>
                            {{/relate:programs}}
                        </ul>
                    {{/if}}
                </div>
            {{/relate:teachers}}
        {{/if}}
    </div>
</section>